@page "/"

<PageTitle>Welcome</PageTitle>

<div class="hero-unit">
    <h1>Welcome to Order Manager</h1>
    <p>Number of Order Is Currently <b>@OrderCount</b> </p>
    <p>
        <a class="btn btn-primary btn-large" href="/orders">
            Go To Order
        </a>
    </p>
</div>




